<?xml version="1.0" encoding="utf-8"?>

<LanguageData>
    <AWL_Mod>Azzy's Weapon Library</AWL_Mod>

    <Reset>Reset to default</Reset>

    <EnableAmmoSystem>Use ammunition system</EnableAmmoSystem>
    <EnableTheAmmoSystem>When checked, the ammunition system is enabled.</EnableTheAmmoSystem>

    <EnableBackupAmmoSystemLabel>Use the backup ammunition system</EnableBackupAmmoSystemLabel>
    <EnableBackupAmmoSystemDesc>When checked, some weapons will need to be loaded by resources.</EnableBackupAmmoSystemDesc>

    <OnlyShowAmmoGizmoWhenSelectedOneThingLabel>Ammunition gizmo is displayed only when a pawn is selected</OnlyShowAmmoGizmoWhenSelectedOneThingLabel>
    <OnlyShowAmmoGizmoWhenSelectedOneThingDesc>Ammunition gizmo is displayed only when a pawn is selected.</OnlyShowAmmoGizmoWhenSelectedOneThingDesc>

    <RandomWeaponModeForNonPlayerPawnLabel>Non-player controled pawn randomly switch weapon modes</RandomWeaponModeForNonPlayerPawnLabel>
    <RandomWeaponModeForNonPlayerPawnDesc>After activation, if a controled pawn is equipped with weapons of multiple modes, it will automatically switch to one of the modes.\n\nWhen turned off, only the default mode is used.</RandomWeaponModeForNonPlayerPawnDesc>

</LanguageData>